# Virtual environments
tcnvenv/
.venv/
env/
ENV/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
pytest_cache/
.tox/

# Logs
*.log

# IDE / editor settings
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db
